.container {
  display: flex;
 align-items: center;
 justify-content: space-between;
  color: white;
}

.userRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px; 
}

.username {
  font-size: 16px;
  margin: 0;
  padding: 0;

}

.logoutBtn {
background-color:#2D0A3D ;
color: white;
border: 1px solid white;
margin-top: 8px;
}
